.contact-section {
  background-color: black;
  color: $grey-lighten-2;
  font-size: 1em;
  padding: 0;
}

.contact-info {
}

.contact-logo-image {
  display: block;
  height: 8em;
  margin: 0 auto;
}

.contact-heading {
  margin: 0;
  margin-bottom: 0.5em;
}

.contact-text-links {
  font-size: 1.3em;
}
.contact-text-link {
  margin-bottom: 0.2em;
}
.contact-links {
  .footer-contact-links {
    margin: 1em 0;
    font-size: 1.5em;
  }
}

.footer-contact-link {
  margin-right: 0.6em;
}


