.divider {
  color: $grey-lighten-1;
  display: flex;
  font-size: 3em;
  font-weight: 300;
  max-width: 1700px;
  opacity: .7;

  @media only screen and (min-width: 700px) {
    font-size: 3.5em;
    padding-right: 10px;
  }

  @media only screen and (min-width: 1000px) {
    font-size: 4.3em;
    padding-right: 15px;
  }

  @media only screen and (min-width: 1300px) {
    font-size: 5em;
  }

  @media only screen and (min-width: 1400px) {
    font-size: 5.3em;
  }

  @media only screen and (min-width: 1400px) {
    font-size: 5.3em;
  }
}

.divider-line {
  display: inline-block;
  border-bottom: 4px solid $grey-lighten-2;
  width: 100%;
  margin-bottom: 15px;

  @media only screen and (min-width: 600px) {
    border-bottom-width: 6px;
  }
}

.divider-title {
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  padding-left: 20px;
}

.divider-projects {
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 40px;

  @media only screen and (min-width: 1100px) {
    margin-bottom: 60px;
  }

  @media only screen and (min-width: 1200px) {
    margin-bottom: 75px;
  }
}

$divider-about-color: $grey-medium;

.divider-about {
  padding-top: 10px;

  @media only screen and (max-width: $breakpoint-swap-about-divider-less-one) {
    @include hide();
  }
}

.divider-title-about {
  color: $divider-about-color;
  padding-right: 8%;
}

.divider-line-about {
  border-color: lighten($divider-about-color, 10);
  border-width: 4px;
  width: 20%;

  @media only screen and (min-width: $breakpoint-swap-about-divider) {
    width: 100%;
  }
}

.divider-about-mobile {
  margin-top: 20%;
  text-align: right;

  @media only screen and (min-width: $breakpoint-swap-about-divider) {
    @include hide();
  }
}

.divider-title-about-mobile {
  margin-right: 15px;
}

.divider-line-about-mobile {
  margin-top: 10px;
  width: 90%;
}

.divider-top-bottom {
  display: block;
  padding-top: 10px;
  text-align: right;
}
