.col-description {
  padding: 0 20px;

  @media only screen and (min-width: $breakpoint-grid-layout) {
    padding-top: 30px;
  }
}

.col-about {
  @media only screen and (min-width: $breakpoint-swap-about-image) {
    border: none;
    height: 100%;
    width: 50%;
  }
}

.col-about-left {
  border: 1px solid black;
  text-align: center;

  @media only screen and (min-width: $breakpoint-swap-about-image) {
    padding-left: 0;
    width: 50%;
  }

  @media only screen and (min-width: 900px) {
    width: 40%;
  }
}

.col-about-right {
  border: 1px solid black;

  @media only screen and (min-width: 900px) {
    padding-top: 5%;
    width: 60%;
  }
}

.col-contact-left {
  border: 1px solid white;
  @include hide();

  @media only screen and (min-width: $breakpoint-show-contact-logo) {
    @include unhide();
    width: 48%;
  }

  @media only screen and (min-width: $breakpoint-swap-about-image) {
    @include unhide();
    width: 39.5%;
  }
}

.col-contact-right {
  border: 1px solid white;
  @media only screen and (min-width: $breakpoint-show-contact-logo) {
    width: 52%;
  }

  @media only screen and (min-width: $breakpoint-swap-about-image) {
    width: 60.5%;
  }
}

.contact-col {
  padding: 8% 4%;
}

.col-screenshot {
  text-align: center;
}

$row-spacing-sm-screen: 75;
$row-spacing-med-screen: 110;
$row-spacing-lg-screen: 150;

.project-row {
  padding-bottom: $row-spacing-sm-screen * 1px;

  @media only screen and (min-width: 1100px) {
    padding-bottom: $row-spacing-med-screen * 1px;
  }

  @media only screen and (min-width: 1300px) {
    padding-bottom: $row-spacing-med-screen * 1px;
  }
}

.pcb-flow-row {
  @media only screen and (min-width: 500px) and (max-width: 1099px) {
    padding-bottom: $row-spacing-sm-screen * .75 * 1px;
  }

  @media only screen and (min-width: 1100px) and (max-width: ($breakpoint-grid-layout-value - 1) * 1px) {
    padding-bottom: $row-spacing-med-screen * .55 * 1px;
  }
}

.pomtracker-row {
  @media only screen and (min-width: $breakpoint-grid-layout) {
    padding-bottom: $row-spacing-med-screen * 1.1 * 1px;
  }

  @media only screen and (min-width: 1300px) {
    padding-bottom: $row-spacing-lg-screen * 1.2 * 1px;
  }
}

.anki-assistant-row {
  padding-bottom: 0;
}
